/* Universal Styles */

html {
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	background-color: white;
}

body {
	line-height: 1.4;
}



/* Header */

header {
	display: flex;
	height: 64px;
	margin: 0 auto;
	justify-content: space-between;
}

.logo {
	padding-left: 2rem;
	display: flex;
	align-items: center;
}

.mobile-nav {
	display: none;
}

nav {
	align-items: right;
	font-size: 1rem;
	padding-top: 1.4rem;
}

nav ul {
	display: flex;
	list-style: none;
	padding-right: 2rem;
}

ul li {
	display: inline;
	align-items: right;
	padding-left: 1rem;
	color: grey;
}

.company {
	font-size: 1.3rem
}



