/* Universal Styles */

html {
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	background-color: white;
}

body {
	line-height: 1.4;
}



/* Header */

header {
	display: flex;
	height: 64px;
	
}

.logo {
	padding-left: 24px;
	padding-top: 16px;
}

.company {
	padding-top: 16px;
}

.mobile-nav {
	display: none;
}

nav {
	justify-content: flex-end;
	font-size: 1rem;
	padding-top: 21px;
}

nav ul {
	list-style: none;
	padding-right: 24px;
}

ul li {
	display: inline-flex;
	align-items: right;
	padding-left: 1rem;
}

.company {
	font-size: 1.5rem
}

