/* Universal Styles */

html {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	background-color: white;
}

body {
	line-height: 1.4;
}



/* Header */

header {
	display: flex;
	height: 64px;
	margin: 0 auto;
	justify-content: space-between;
}

.logo {
	padding-left: 2rem;
	display: flex;
	align-items: center;
	font-size: 1.3rem
}

.acadamy {
	color: #8B8B8B;
}

.mobile-nav {
	display: none;
}

nav {
	align-items: right;
	font-size: 1rem;
	padding-top: 1.4rem;
}

nav ul {
	display: flex;
	list-style: none;
	padding-right: 2rem;
}

ul li {
	display: inline;
	align-items: right;
	padding-left: 1rem;
	color: #8B8B8B;
}

/* Jumbotron */

.container {
	background-color: #B9B9B9;
	display: flex;
	position: relative;
}

.left {
	display: flex;
	flex-direction: column;
	padding: 2rem 1.5rem;
	width: 60%;
}

.right {
	align-self: center;
	display: flex;
	flex-direction: column;
	padding-top: 2rem;
	width: 40%;
}

.image-container {
	overflow: hidden;
}

.banner-content h2 {
	
	font-size: 3rem;
	padding-bottom: 1.5rem;
	font-weight: bold;
	line-height: 3rem;
}

.banner-content h3 {
	font-size: 1.5rem;
	padding-bottom: 1.5rem;
}

.button {
	font-size: 1rem;
	padding: 0.5rem;
	background-color: #4D4D4D;
	color: white;
	width: 82%;
	text-align: center;
}